*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 76.8rem;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 76.8rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #1a1a1a;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: -1px;
  color: #666666;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.btn {
  background: linear-gradient(165deg, #ff79da 0%, #9356dc 90%);
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  overflow: hidden;
  padding: 1.6rem 3.2rem;
  position: relative;
  transition: transform 450ms;
}
.btn:hover {
  transform: scale(1.1);
}
.btn--full-width {
  width: 100%;
  margin: 0 auto;
}
.btn--link {
  cursor: pointer;
  border: none;
  overflow: hidden;
  color: black;
}

.btn--order {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem 6rem;
}

.header {
  position: relative;
  max-width: 76.8rem;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2.4rem 0;
}
.header__img {
  object-fit: fill;
  width: 50%;
}
.header__icon {
  position: absolute;
  top: 1.8rem;
  left: 1.8rem;
}

.site-title {
  background-color: #dadada;
  border-top: solid 0.4rem silver;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #333;
  gap: 3.2rem;
  padding: 2.4rem 0;
}
.site-title__icon {
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100vw;
  max-width: 76.8rem;
  color: #fff;
  background-color: #4d4d4d;
  padding-left: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer__flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
}

.nav_quote {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 auto;
  gap: 3.2rem;
  padding: 3.2rem 0;
}
.nav_quote--discover {
  align-items: stretch;
  text-align: center;
  flex-wrap: wrap;
  color: #666666;
  font-weight: 400;
}
.nav_quote__btn {
  color: #fff;
}
.nav_quote__link {
  display: inline;
  font-size: 2.4rem;
  padding-left: 1.5rem;
}
.nav_quote__link a {
  text-decoration: none;
  color: #333;
}
.nav_quote__link--active {
  color: #ff79da;
}
.nav_quote__link--active:hover {
  cursor: default;
  color: #ff79da;
}
.nav_quote__link a:hover {
  color: #fff;
}

.form {
  width: 100%;
  padding-bottom: 0.8rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
  background: #9356dc;
  line-height: 5rem;
  padding: 0.8rem;
}
.form__field label {
  color: #333;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 0.8rem;
}
.form__field input {
  width: 100%;
  background: #ff79da;
  border: 0.1rem solid #9356dc;
  padding: 0.8rem;
  color: #333;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid #9356dc;
  background-color: #ff79da;
  color: #9356dc;
}
.form__field textarea {
  width: 100%;
  color: #9356dc;
  background: #ff79da;
  border: 0.1rem solid #9356dc;
  outline: none;
  padding: 0.8rem;
  margin-bottom: 0.4rem;
}

.how-it-works {
  padding: 3.2rem 2.4rem;
  padding-left: 3.2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 4.8rem;
}
.how-it-works__items {
  position: relative;
}
.how-it-works__items > p {
  display: inline-block;
  position: absolute;
  padding: 0.5rem;
  font-size: 1.4rem;
  background-color: #9356dc;
  border-radius: 100%;
  left: -1.2rem;
  top: 1.8rem;
  color: #fff;
}
.how-it-works__items--group {
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0px 2px 1rem silver;
  border-radius: 1.3rem;
  display: flex;
  gap: 2.4rem;
  padding: 3.6rem;
  padding-right: 0;
}
.how-it-works__items--group:hover {
  background: linear-gradient(rgba(147, 86, 220, 0.15) 100%, #ff79da 100%);
}
.how-it-works__items--group:hover i {
  color: #9356dc;
}

.restaurants {
  padding: 4rem 1.2rem;
  background-color: #f3f3f3;
  padding: 0;
}
.restaurants__galery {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.restaurants__galery__items {
  box-shadow: 0px 2px 1rem rgba(0, 0, 0, 0.33);
}
.restaurants__galery__item {
  position: relative;
}
.restaurants__galery__txt {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-radius: 0 0 1.4rem 1.4rem;
  line-height: 1.5;
}
.restaurants__galery__txt--p {
  font-weight: 400;
}
.restaurants__galery__icon {
  padding-right: 1.4rem;
}
.restaurants__img {
  width: 100%;
  height: 16rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1.4rem 1.4rem 0 0;
}

.card__new {
  background: #99e2d0;
  padding: 0.5rem 2.4rem;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}

.menu {
  width: 100%;
  background-color: #e6e6e6;
  padding-bottom: 2rem;
}
.menu__img {
  z-index: -10;
  position: relative;
  overflow: hidden;
  background-image: url("/public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 15rem;
  background-size: cover;
}
.menu__img img {
  border-radius: unset;
}
.menu__title {
  z-index: 100;
  margin-top: -2rem;
  border-radius: 3rem 3rem 0 0;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.2rem;
}
.menu__title--h2 {
  font-size: 2.4rem;
  font-weight: 500;
}
.menu__icon {
  display: block;
  justify-self: center;
  padding-right: 1.2rem;
}

.menu-card {
  background-color: #fff;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2.4rem;
  padding-left: 1.2rem;
}
.menu-card--h3 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -1px;
  color: #666666;
}
.menu-card__title {
  text-transform: uppercase;
  padding-bottom: 1.6rem;
}
.menu-card__title--line {
  width: 4.6rem;
  height: 8px;
  border-bottom: 4px solid #99e2d0;
}
.menu-card__txt {
  line-height: 1.5;
}
.menu-card--grid {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.menu-entrees {
  padding: 1.6rem;
}

.menu-main-dish {
  padding: 1.6rem;
}

.menu-desserts {
  padding: 1.6rem;
}

.menu-entrees {
  padding: 1.6rem;
}

.menu-main-dish {
  padding: 1.6rem;
}

.menu-desserts {
  padding: 1.6rem;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 0.8rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 0.8rem;
}
.about__heading {
  grid-area: heading;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
  text-align: right;
  padding-right: 0.8rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #9356dc;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 1.8rem;
}
.about__btn {
  background: linear-gradient(165deg, #ff79da 0%, #9356dc 90%);
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  overflow: hidden;
  padding: 1.6rem 3.2rem;
  position: relative;
  transition: transform 450ms;
  grid-area: btn;
}
.about__btn:hover {
  transform: scale(1.1);
}
.about__btn--full-width {
  width: 100%;
  margin: 0 auto;
}
.about__btn a {
  text-decoration: none;
}

.quote {
  text-align: right;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: #333;
  margin: 2rem 3.2rem -1.6rem 3.2rem;
}
.quote strong {
  color: #9356dc;
}

.proj-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.8rem;
}

.proj-prev {
  color: #fff;
  margin-bottom: 0.8rem;
}
.proj-prev__image {
  margin: 0;
  opacity: 0.2;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.proj-prev__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.proj-prev__heading {
  font-size: 4rem;
  padding-left: 2.5rem;
  margin: 0;
  line-height: 6rem;
}
.proj-prev__byline {
  padding-left: 2.5rem;
  font-size: 1.66rem;
}
.proj-prev:hover {
  cursor: pointer;
}
.proj-prev:hover > .proj-prev__heading {
  background: #9356dc;
}
.proj-prev:hover > .proj-prev__image {
  opacity: 1;
}

.project {
  width: 100%;
  margin-bottom: 0.96rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.8rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 0.8rem;
}
.project__synopsis h1 {
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #9356dc;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  background: linear-gradient(165deg, #ff79da 0%, #9356dc 90%);
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  overflow: hidden;
  padding: 1.6rem 3.2rem;
  position: relative;
  transition: transform 450ms;
  grid-area: btn;
}
.project__btn:hover {
  transform: scale(1.1);
}
.project__btn--full-width {
  width: 100%;
  margin: 0 auto;
}

.project {
  width: 100%;
  margin-bottom: 0.96rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.8rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 0.8rem;
}
.project__synopsis h1 {
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #9356dc;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  background: linear-gradient(165deg, #ff79da 0%, #9356dc 90%);
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  overflow: hidden;
  padding: 1.6rem 3.2rem;
  position: relative;
  transition: transform 450ms;
  grid-area: btn;
}
.project__btn:hover {
  transform: scale(1.1);
}
.project__btn--full-width {
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
